name: 'Semantic Release'

on:
  workflow_call:
    inputs:
      release-type:
        description: 'The type of release'
        required: false
        type: string
      use-bot-to-commit:
        description: 'Whether to use the GitHub App bot to commit changes'
        required: false
        default: false
        type: boolean
    secrets:
      WEBGRIP_CI_APP_ID:
        description: 'GitHub App ID (numeric)'
        required: false
      WEBGRIP_CI_APP_PRIVATE_KEY:
        description: 'GitHub App private key'
        required: false
    outputs:
      version:
        description: 'The new version number'
        value: ${{ jobs.semantic-release.outputs.version }}

jobs:
  semantic-release:
    name: 'Semantic Release'
    runs-on: arc-runner-set
    permissions:
      contents: write # For pushing commits/tags
      pull-requests: write # If referencing or updating PRs
      issues: write # Needed to comment on issues/PRs
      statuses: write # (Optional) If you need to set commit statuses
    outputs:
      version: ${{ steps.semantic-release.outputs.version }}
    steps:
      - name: Mint GitHub App token
        id: app-token
        if: ${{ inputs.use-bot-to-commit }}
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.WEBGRIP_CI_APP_ID }}
          private-key: ${{ secrets.WEBGRIP_CI_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ github.event.repository.name }}

      - id: semantic-release
        uses: webgrip/workflows/.github/composite-actions/semantic-release@main
        with:
          release-type: ${{ inputs.release-type }}
          token: ${{ inputs.use-bot-to-commit == true && steps.app-token.outputs.token || github.token }}
